In [1]:
# Import Library
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from datetime import datetime
from pandas_datareader import data as web
import os
import string
import requests
import nltk
from nltk import word_tokenize
from nltk.corpus import PlaintextCorpusReader
from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
import re
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [2]:
Y = pd.read_csv("News_score.csv")
X = pd.read_csv("newscleaned2.csv")

In [3]:
Y.head()

,Unnamed: 0,Date,High,Low,Open,Close,Volume,Adj Close,Daily Growth,LabeledY1,LabeledY2,title_score1,abs_score1,title_score2,abs_score2,title_polarity,title_subjectivity,abs_polarity,abs_subjectivity
0,0,2016-09-26,2158.540039,2145.040039,2158.540039,2146.100098,3216170000,2146.100098,-0.005763,-1,-1,0.9508,0.9990,0.3612,0.9952,0.070004,0.396425,0.041043,0.413740
1,1,2016-09-27,2161.129883,2141.550049,2146.040039,2159.929932,3437770000,2159.929932,0.006472,1,1,0.9881,0.9976,-0.9761,-0.9717,0.010467,0.412125,0.017999,0.435100
2,2,2016-09-28,2172.399902,2151.790039,2161.850098,2171.370117,3891460000,2171.370117,0.004404,0,1,-0.9888,0.9942,-0.9806,0.7184,0.061586,0.368534,0.050819,0.481116
3,3,2016-09-29,2172.669922,2145.199951,2168.899902,2151.129883,4249220000,2151.129883,-0.008193,-1,-1,0.9911,0.9987,0.6249,0.9856,0.009768,0.415676,0.025399,0.419600
4,4,2016-09-30,2175.300049,2156.510010,2156.510010,2168.270020,4173340000,2168.270020,0.005453,0,1,-0.8984,0.9958,-0.9623,0.9417,0.081814,0.429716,0.054197,0.412035

In [4]:
X.head()

,Unnamed: 0,Date,News_title,News_abstract
0,0,2016-09-26,additional skyhigh peres loss export lineup cr...,bare rescind prevent chemical include accompan...
1,1,2016-09-27,blunt restoration peres loss wealth list fisch...,version oppose loss export according list food...
2,2,2016-09-28,better lyft chemical peres loss knew robert li...,assuming chemical theatre loss export conducte...
3,3,2016-09-29,viral peres loss sound list credit pass rip la...,spurring mishandled export according transpare...
4,4,2016-09-30,peres loss reviewing list robert stance charlo...,fled version blunt persisted include peres los...

### Polarity Analysis by using Textblob

In [5]:
from textblob import TextBlob

In [6]:
a = X['News_title'][0]
b = TextBlob(a).sentiment[0]
c = TextBlob(a).sentiment[1]

In [7]:
X_score = pd.DataFrame()

In [8]:
# Polarity Analysis for news_title
X_score['title_polarity'] = X['News_title'].apply(lambda x: TextBlob(x).sentiment[0])
X_score['title_subjectivity'] = X['News_title'].apply(lambda x: TextBlob(x).sentiment[1])

# Polarity Analysis for news_abstract
X_score['abs_polarity'] = X['News_abstract'].apply(lambda x: TextBlob(x).sentiment[0])
X_score['abs_subjectivity'] = X['News_abstract'].apply(lambda x: TextBlob(x).sentiment[1])

In [9]:
X_score.head(10)

   title_polarity  title_subjectivity  abs_polarity  abs_subjectivity
0        0.070004            0.396425      0.041043          0.413740
1        0.010467            0.412125      0.017999          0.435100
2        0.061586            0.368534      0.050819          0.481116
3        0.009768            0.415676      0.025399          0.419600
4        0.081814            0.429716      0.054197          0.412035
5        0.041357            0.350482      0.037696          0.396029
6        0.072068            0.377090      0.036085          0.420215
7       -0.006672            0.331287      0.021652          0.454649
8        0.069386            0.373315      0.013940          0.413580
9        0.072813            0.373992      0.060094          0.455539

## Split to Train and Test and modeling

In [17]:
# Splite X to TrainX and TestX 70/30
# Splite Y to TrainY and TestY 70/30
Y1 = Y['LabeledY1']
Y2 = Y['LabeledY2']
cut = int(0.7*X.shape[0])
Xtrain = X_score.iloc[0: cut]
Xtest = X_score.iloc[cut:]
Ytrain1 = Y1.iloc[0: cut]
Ytest1 = Y1.iloc[cut:]
Ytrain2 = Y2.iloc[0: cut]
Ytest2 = Y2.iloc[cut:]

____________

## Modelling Analysis

In my attemps, my polarity analysis combines with XGBoost and Random Forest gives some results.
XGBoost: For (Y1 Stock) training, XGBoost achives highest training score 0.9887 and testing score 0.6797; however, there are serious overfitting problem.

For (Y2 Stock) training, XGB shows training score as 0.949, and testing score 0.392. Obviously, there are more serious overfitting problem, also bad performance overall.

Random Forest: For (Y1 Stock) training, RF achieves training score 0.87, and testing score 0.69, it performance better than XGBoost.

For (Y2 Stock) training, RF achieves training score, 0.62, and testing score 0.45, which is also better than XGBoost performance.

Overall, I will choose Random Forest as my algorithm, and Y1 preprocessing shows a better split. I will compare my results with my groupmates to produce a final results.

## Using XGBoost for modeling

Training Process: Xtrain, Ytrain1

In [49]:
XGBModel = XGBClassifier(max_depth=4, learning_rate=0.1, n_estimators=100, \
                              silent=True, objective='binary:logistic', nthread=-1, \
                              reg_alpha=0, reg_lambda=1, \
                              base_score=0.5, missing=None)

# Training
fit=XGBModel.fit(Xtrain, Ytrain1)

In [50]:
# Training Score
XGBModel.score(Xtrain,Ytrain1)

0.9887323943661972

In [51]:
# Testing Score
XGBModel.score(Xtest,Ytest1)

0.6797385620915033

Training Process: Xtrain, Ytrain2

In [52]:
# Training
fit=XGBModel.fit(Xtrain, Ytrain2)

In [53]:
# Training Score
XGBModel.score(Xtrain,Ytrain2)

0.9492957746478873

In [54]:
# Testing Score
XGBModel.score(Xtest,Ytest2)

0.39215686274509803

## Using Random Forest Modeling

In [56]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

training Xtrain and Ytrain2

In [63]:
RFmodel = RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

rffit=RFmodel.fit(Xtrain, Ytrain2)

Training Score (Xtrain Ytrain2)

In [64]:
rffit.score(Xtrain,Ytrain2)

0.6253521126760564

Testing Score (Ytest2)

In [65]:
rffit.score(Xtest,Ytest2)

0.45751633986928103

Training Xtrain and Ytrain1

In [66]:
rffitY1=RFmodel.fit(Xtrain, Ytrain1)

Training Score(Ytrain1)

In [67]:
rffitY1.score(Xtrain,Ytrain1)

0.8704225352112676

Testing Score(Ytest1)

In [68]:
rffitY1.score(Xtest,Ytest1)

0.6928104575163399

### In my attemps, my polarity analysis combines with XGBoost and Random Forest gives some results.

XGBoost:
For (Y1 Stock) training, XGBoost achives highest training score 0.9887 and testing score 0.6797; however, there are serious overfitting problem.

For (Y2 Stock) training, XGB shows training score as 0.949, and testing score 0.392. Obviously, there are more serious overfitting problem, also bad performance overall.

Random Forest:
For (Y1 Stock) training, RF achieves training score 0.87, and testing score 0.69, it performance better than XGBoost.

For (Y2 Stock) training, RF achieves training score, 0.62, and testing score 0.45, which is also better than XGBoost performance.

Overall, I will choose Random Forest as my algorithm, and Y1 preprocessing shows a better split. I will compare my results with my groupmates to produce a final results.